
/*General Styles*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


*{
    margin: 0;
    padding: 0;
}

/* scrollbar */
::-webkit-scrollbar {
    width: 12px; 
}

::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
    background:#FFAFE4; 
    border-radius: 6px; 
}

::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

body{
    font-family: "Poppins", sans-serif;
    background: white; 
}

html{
    scroll-behavior: smooth;
}

p{
    color: #080826;
}



/* nav css */

a, .btn{
    transition: all 300ms ease;
}

nav,
.nav-links{
    display: flex;
}

nav{
    justify-content: space-around;
    align-items: center;
    height: 17vh;
}
.nav-links{
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}

a {
    color: #080826;
    text-decoration: none;
    text-decoration-color: white;
}

a:hover {
    color:  #ff8ce2;
}

.logo{
    font-size: 2rem;
}
.logo:hover{
    cursor: default;
}

/*Hamborger menu*/

#hamborger-nav{
    display: none;
}
.hamborger-menu{
    position:relative ;
    display:inline-block;
}
.hamborger-icon{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.hamborger-icon span {
    width: 100%;
    height: 2px;
    background-color: #080826;
    transition: all 0.3 ease-in-out;
}
.menu-links {
    position: absolute;
    top: 100%;
    right: 0;
    background-image: linear-gradient(to right, #ff8cd9, #cbb8ff);
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out;
    z-index: 999;
    border-radius: 5px;
    width: 140px;
    height: 280px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.menu-links a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: #ffffff;
    text-decoration: none;
    transition: all 0.3 ease-in-out;
}

.menu-links a:hover {
    color: #080826;
}
.menu-links li{
    list-style: none;
}

.menu-links.open{
    max-height: 300px;
}

.hamborger-icon.open span:first-child{
    transform: rotate(45deg) translate(10px , 5px);
}
.hamborger-icon.open span:nth-child(2){
    opacity:0;
}
.hamborger-icon.open span:last-child{
    transform: rotate(-45deg) translate(10px , -5px);
}

.hamborger-icon span:first-child{
    transform: none;
}

.hamborger-icon span:first-child(2){
    opacity:1;
}

.hamborger-icon span:first-child(2){
    transform: none;
}



section {
    padding-top: 4vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}


/* ORGANIZATION CSS */

#organization {
    position: relative;
    display: flex;
}

#organizations {
    background: #f1f1f1;
    margin: 0%;
    height: auto;
    padding-bottom: 2rem;
}

.org__text {
    position: relative;
    text-align: center;
    margin-top: 5rem;
}

#org .org__text h1{
    color: white;
    text-align: center;
   
}

.org__title {
    font-size: 8rem;
    background-image: linear-gradient(to right, #ff8cd9, #cbb8ff);
    -webkit-background-clip: text; 
    background-clip: text;
    color: transparent;
    margin-bottom: 6%;
    transition: transform 0.3s ease;
}

.org__title:hover {
    transform: scale(1.05);
}

.org__container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0%;
    margin-bottom: 50px;
}

.gallery {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.img-box {
    width: 300px;
    height: 500px;
    margin: 10px;
    border-radius: 50px;
    background: url(assets/exp/jec.png);
    background-size: cover;
    background-position: center;
    transition: width 0.5s;

}

.img-box:nth-child(2) {
    background: url(assets/exp/veritass.png);
    background-size: cover;
    background-position: center;
}
.img-box:nth-child(3) {
    background: url(assets/exp/suluhann.png);
    background-size: cover;
    background-position: center;
}

.img-box:nth-child(4) {
    background: url(assets/exp/venomm.png);
    background-size: cover;
    background-position: center;
}

.img-box h3 {
    color: #080826;
    position: relative;
    left: 30px;
    margin: 25px;
    display: inline;
    top: -95%;
    font-size: 20px;
}

.img-box:hover {
    width: 500px;
}

.img-box:before {
    content: "";
    position: relative;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(255, 140, 217, 0.5),rgba(203, 184, 255, 0.5));
    opacity: 0;
    border-radius: 50px;
    transition: 0.5s all;
}

.info {
    display: inline;
    position: relative;
    top: -55%;
    left: 50px;
}
.info p {
    font-size: 15px;
    width: 25rem;
    text-align: justify;
    font-weight:900px;
    color: #080826
}

.img-box:hover:before {
    opacity: 1;
}


.img-box .info {
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s all;
}

.img-box:hover .info {
    opacity: 1;
    transform: translateY(0px);
}





/* WORK CSS */

#work {
    background: linear-gradient(to right, #ff8cd9, #cbb8ff);
    margin: 0%;
    height: auto;
    padding-bottom: 2rem;
}

.work__text {
    position: relative;
    text-align: center;
    margin-top: 3rem;
}

#work .work__text h1{
    color: rgb(255, 255, 255);
    text-align: center;
   
}

.work__title {
    font-size: 8rem;
    margin-bottom: 5%;
    transition: transform 0.3s ease;
}

.work__title:hover {
    transform: scale(1.05);
}


.work-glass {
    position: relative;
    width: 300px;
    height: 650px;
    background: rgba(255, 255, 255, .1);
    box-shadow: 0 25px 45px rgba(0, 0, 0,  .2);
    border-radius: 50px;
    border: 2px solid rgba(255, 255, 255, .5);
    backdrop-filter: blur(10px);
    transition: transform 0.3s ease;
}

.work-glass .info {
    display: inline;
    position: relative;
    top: 10px;
    left: 30px;
}

.work-glass p {
    width: 15rem;
}

#work .gallery {
    margin-bottom: 5rem;
}

.work-container {
    display: flex;
    justify-content: space-around;
    margin-top: 18px;
}

.work-img {
    border-radius: 2rem;
    width: 90%;
    height: 90%;
}

.work-glass:hover {
    transform: scale(1.05);
}


footer p {
    display: flex;
    align-items: center;
    justify-content: center;
}